body{
    max-height: 200vh;

    margin: 0;

    background: linear-gradient(220deg, white 10%, #00377B 100%) no-repeat;
}
body::-webkit-scrollbar{
    width: 0;
}

header{
    width: 100%;
    height: 2vh;
    background-color: #00377B;
}
div.container{
    max-height: 200vh;
    width: 60%;

    margin: 20vh auto 10vh auto;
    border: 2px solid #00377B;
    border-radius: 10px;
    
    box-shadow: 1px 1px #00377B;
    text-align: center;

    background-color: rgba(211, 211, 211, 0.521);
}
input.resposta{
    height: 40px;
    width: 70%;

    margin: 0  0 10px 0;
    padding-left: 40px;
    border: none;

    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 10px;
}
div.Question{
    height: 5vh;
    width: 75%;

    margin: 0 auto;
    padding-top:20px;
    border: none;

    display: flex;
}
div.Question-Result{
    height: 4vh;
    width: 75%;

    padding: 0;
    margin: 0 auto;

    text-transform: capitalize;

    display: flex;
    justify-content: flex-start;
}
div.Question-Result label{
    width: 10vw;

    display: flex;
    justify-content: center;
}
.Question-Option{
    height: 20px;
    width: 20px;
}
.Question-Result p{
    margin: 5px 0 0 2px;
}
div.twoline{
    padding: 10px;
}
.Question p{
    margin: 0;
    text-align: left;
}
img{
    margin: 5% 0 30px 0;
}
input.submit, input.new-account{
    height: 40px;
    width: 70%;

    margin: 10px 0;
    border: 2px solid #00377B;
    border-radius: 5px;

    color: #fff;
    background: #00377B;
}
a{
    letter-spacing: 1.5px;
    
    color: black;

    text-align: center;

    display: block;
}
footer{
    width: 100%;
    height: 2vh;
    background-color: #001d41;
}




/* --- 
terça e quinta 15h-16h 

guilherme
---*/